{% extends 'store/base.html' %}

{% block title %}Admin - E-Commerce Store{% endblock %}

{% block content %}
<div id="title-block">
    <h1>Welcome to the Admin Dashboard!</h1>
</div>
<div>
    <h2>Authorized Admins</h2>
    <table>
        <tr>
            <td>Name</td>
            <td>username</td>
            <td>email</td>
        </tr>
        {% for user in user_table %}
        {% if user.is_superuser %}
        <tr>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
</div>
<div>
    <h2>Product List</h2>
    <table>
        <tr><td>another table here</td></tr>
    </table>
</div>
{% endblock %}