{% extends 'store/base.html' %}

{% block title %}Admin - E-Commerce Store{% endblock %}

{% block content %}
<div id="title-block">
    <h1>Welcome to the Admin Dashboard!</h1>
</div>
<div id="admin-list">
    <h2>Authorized Admins</h2>
    <table>
        <tr>
            <td>Name</td>
            <td>username</td>
            <td>email</td>
        </tr>
        {% for user in user_table %}
        {% if user.is_superuser %}
        <tr>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
</div>
<div id="item-update">
    <h2>Product List</h2>
    <table>
        {% for item in storestock}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>${{ item.product.price }}</td>
                <td>${{ item.item_total }}</td>
                <td>                
                    <a href="{% url 'update_storestock' item.product.id %}">Update</a> |
                    <a href="{% url 'remove_from_storestock' item.product.id %}">Remove</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}