{% extends 'store/base.html' %}

{% block title %}Contact - E-Commerce Store{% endblock %}

{% block content %}
<div>
    <h1>Contact</h1>
    <h2>Here is contact info for everyone in this project</h2>
    <p>Samuel Karahalis(TheDuckLord2) - Team Lead - sgk103 - samgkarahalis@gmail.com</p>
    <p>Ashtanyrein Duncan(Ashtanyrein) - Member - add485 - add485@msstate.edu</p>
    <p>CJ Parker(Carlos-Parker3000) - Member - cdp496 - carlos.parker07300@gmail.com</p>
    <p>Seth Sorgen(Shale951) - Member - sls1233 - sethsorgen@gmail.com</p>
    <p>Sam Mclnnis(samstudentacc) - Member - stm303 - stm303@msstate.edu</p>
</div>
{% endblock %}